<ion-header>
    <ion-toolbar color="secondary">
      <ion-title color="dark">Two Pair</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div text-center padding>
      <img src="assets/img/twopair.PNG">
    </div>
    <div padding>
      <p>- Two Pair is the 8th highest ranked hand you can play.</p>
      <p>- Two different pairs. </p>
      <p>- Probability of obtaining: <b>7.62%</b> </p>
    </div>
    <ion-back-button color="medium" defaultHref="/home" text="Back"></ion-back-button>
  
  </ion-content>
  