<ion-header>
    <ion-toolbar color="secondary">
      <ion-title color="dark">Full House</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div text-center padding>
      <img src="assets/img/fullhouse.PNG">
    </div>
    <div padding>
      <p>- Full House is the 4th highest ranked hand you can play.</p>
      <p>- Three of a kind (3 of same rank/number) with a pair. (2 of same rank/number) </p>
      <p>- Probability of obtaining: <b>0.17%</b> </p>
    </div>
    <ion-back-button color="medium" defaultHref="/home" text="Back"></ion-back-button>
  
  </ion-content>
  