<ion-header>
    <ion-toolbar color="secondary">
      <ion-title color="dark"> Four of a Kind</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div text-center padding>
      <img src="assets/img/fourofakind.PNG">
    </div>
    <div padding>
      <p>- Four of a Kind is the 3rd highest ranked hand you can play.</p>
      <p>- All four cards of the same rank/number. </p>
      <p>- Probability of obtaining: <b>0.0256%</b> </p>
    </div>
    <ion-back-button color="medium" defaultHref="/home" text="Back"></ion-back-button>
  
  </ion-content>
  