<ion-header>
    <ion-toolbar color="secondary">
      <ion-title color="dark">Straight Flush</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div text-center padding>
      <img src="assets/img/straightflush.PNG">
    </div>
    <div padding>
      <p>- Straight Flush is the 2nd highest ranked hand you can play.</p>
      <p>- Five cards in a sequence, all in the same suit. </p>
      <p>- Probability of obtaining: <b>0.0015%</b> </p>
    </div>
    <ion-back-button color="medium" defaultHref="/home" text="Back"></ion-back-button>
  
  </ion-content>
  