<ion-header>
    <ion-toolbar color="secondary">
      <ion-title color="dark">Straight</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div text-center padding>
      <img src="assets/img/straight.PNG">
    </div>
    <div padding>
      <p>- Straight is the 6th highest ranked hand you can play.</p>
      <p>- Five cards in a sequence, but not of the same suit. </p>
      <p>- Probability of obtaining: <b>0.76%</b> </p>
    </div>
    <ion-back-button color="medium" defaultHref="/home" text="Back"></ion-back-button>
  
  </ion-content>
  