<ion-header>
    <ion-toolbar color="secondary">
      <ion-title color="dark"> One Pair</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div text-center padding>
      <img src="assets/img/onepair.PNG">
    </div>
    <div padding>
      <p>- One Pair is the 9th highest ranked hand you can play.</p>
      <p>- Two cards of the same rank/number. </p>
      <p>- Probability of obtaining: <b>49.9%</b> </p>
    </div>
    <ion-back-button color="medium" defaultHref="/home" text="Back"></ion-back-button>
  
  </ion-content>
  