<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="dark">Royal Flush</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center padding>
    <img src="assets/img/royalflush.PNG">
  </div>
  <div padding>
    <p>- Royal Flush is the highest ranked hand you can play.</p>
    <p>- 10, J, Q, K, A all of the same suit. </p>
    <p>- Probability of obtaining: <b>0.000154%</b> </p>
  </div>
  <ion-back-button color="medium" defaultHref="/home" text="Back"></ion-back-button>

</ion-content>
