<ion-header>
    <ion-toolbar color="secondary">
      <ion-title color="dark"> High Card </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div text-center padding>
      <img src="assets/img/highcard.PNG">
    </div>
    <div padding>
      <p>- High Card is the 10th, and last, ranked hand you can play.</p>
      <p>- When you haven't made any of the other hands, the highest card plays. </p>
      <p>- Probability of obtaining: <b>100%</b> </p>
      <p>- Rank/Number of cards from lowest to highest: 
        <b>2, 3, 4, 5, 6, 7, 8, 9, 10, J, Q, K, A </b></p>
    </div>
    <ion-back-button color="medium" defaultHref="/home" text="Back"></ion-back-button>
  
  </ion-content>
  