<ion-header>
    <ion-toolbar color="secondary">
      <ion-title color="dark">Three of a Kind</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div text-center padding>
      <img src="assets/img/threeofakind.PNG">
    </div>
    <div padding>
      <p>- Three of a Kind is the 7th highest ranked hand you can play.</p>
      <p>- Three cards of the same rank/number. </p>
      <p>- Probability of obtaining: <b>2.87%</b> </p>
    </div>
    <ion-back-button color="medium" defaultHref="/home" text="Back"></ion-back-button>
  
  </ion-content>
  