<ion-header>
    <ion-toolbar color="secondary">
      <ion-title color="dark">Flush</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div text-center padding>
      <img src="assets/img/flush.PNG">
    </div>
    <div padding>
      <p>- Flush is the 5th highest ranked hand you can play.</p>
      <p>- Any five cards of the same suit, but not in a sequence. </p>
      <p>- Probability of obtaining: <b>0.367%</b> </p>
    </div>
    <ion-back-button color="medium" defaultHref="/home" text="Back"></ion-back-button>
  
  </ion-content>
  